<html>
  <head>
    <title>Slapjack!!</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" ></style>
    <link rel="stylesheet" href="style.css" ></style>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="game.js"></script>
  </head>
  <body ng-app="slapjackApp">
    <div> 
      <div ng-controller="mainController">
        <div class="row">
          <div class="col-md-4">
            <div class="square"></div>
          </div>
          <div class="col-md-4">
            <div class="square">Opp 2
              <span>{{game.players[2].hand}}</span><br>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="square">Opp 1
              <span>{{game.players[1].hand}}</span><br>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square">
              <span>Top Card: {{game.topcard}}</span><br>
              <span>Center Pile: {{game.center}}</span><br>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square">Opp 3
              <span>{{game.players[3].hand}}</span><br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="square"></div>
          </div>
          <div class="col-md-4">
            <div class="square">Player
              <span>{{game.players[0].hand}}</span><br>
              <button ng-click="game.placeCard(game.players[0])">Place Card</button>
              <button ng-click="game.slap()">SLAAAP!</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square"></div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>