
.square {
  width: 33%;
  padding-bottom: 33%;
  /*background-color: orange; */
}

.card {
  height: 140px;
}

.slideFromLeft {
    position: absolute;
    left: -550px;
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: blue;*/
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.title {
  font-size: 50;
  font-family: 'monaco';
}

.words {
  font-size: 20;

}